<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pl.toponavigator.repository.AreaRepository">
    <resultMap id="Area" type="pl.toponavigator.model.Area">
        <result column="AREA_ID" jdbcType="DECIMAL" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="LATITUDE" jdbcType="DECIMAL" property="latitude"/>
        <result column="LONGITUDE" jdbcType="DECIMAL" property="longitude"/>
        <result column="DESCRIPTION" jdbcType="DECIMAL" property="description"/>
    </resultMap>

    <sql id="allColumns">
        AREA_ID,
        NAME,
        LATITUDE,
        LONGITUDE,
        DESCRIPTION
    </sql>

    <select id="getAll" resultMap="Area">
        SELECT
        <include refid="allColumns"/>
        FROM AREAS
    </select>

<!--    <select id="findById" resultMap="Area">-->
<!--        SELECT-->
<!--        <include refid="allColumns"/>-->
<!--        FROM Area-->
<!--        <where>-->
<!--            EMAIL = #{username}-->
<!--            OR-->
<!--            USERNAME = #{username}-->
<!--        </where>-->
<!--    </select>-->
</mapper>
